@font-face {
  font-family: 'Nauman';
  src: url("/fonts/Nauman-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Nauman';
  src: url("/fonts/Nauman-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@-webkit-keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
    transform: translateY(23px); } }
@keyframes scroll {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(23px);
    transform: translateY(23px); } }
body, h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: 'Sinkin Sans', Arial, sans-serif; }

a.no-link {
  cursor: default; }

@media (max-width: 1200px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; } }
.form-group {
  position: relative; }
  .form-group input[type=text],
  .form-group input[type=email],
  .form-group input[type=password],
  .form-group input[type=number],
  .form-group input[typef=file] {
    border: 2px solid #9ccb58;
    border-radius: 0;
    color: #333; }
    .form-group input[type=text]:hover, .form-group input[type=text]:focus, .form-group input[type=text]:active,
    .form-group input[type=email]:hover,
    .form-group input[type=email]:focus,
    .form-group input[type=email]:active,
    .form-group input[type=password]:hover,
    .form-group input[type=password]:focus,
    .form-group input[type=password]:active,
    .form-group input[type=number]:hover,
    .form-group input[type=number]:focus,
    .form-group input[type=number]:active,
    .form-group input[typef=file]:hover,
    .form-group input[typef=file]:focus,
    .form-group input[typef=file]:active {
      color: #333;
      border-color: #83b739; }
    .form-group input[type=text].error,
    .form-group input[type=email].error,
    .form-group input[type=password].error,
    .form-group input[type=number].error,
    .form-group input[typef=file].error {
      border-color: #930012;
      color: #930012; }
  .form-group input[type=file] {
    padding: 10px; }
  .form-group textarea {
    border: 2px solid #9ccb58;
    border-radius: 0;
    color: #333;
    resize: vertical;
    height: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 17px; }
    .form-group textarea:hover, .form-group textarea:focus, .form-group textarea:active {
      color: #333;
      border-color: #83b739; }
    .form-group textarea.error {
      border-color: #930012;
      color: #930012; }
  .form-group label a {
    color: #99999a; }
  .form-group span,
  .form-group p {
    display: block;
    font-size: 10px;
    line-height: 13px;
    margin-bottom: 7px; }
    .form-group span.error,
    .form-group p.error {
      color: #930012 !important; }
    .form-group span.success,
    .form-group p.success {
      color: green !important; }
    .form-group span.help,
    .form-group p.help {
      color: inherit; }

#content {
  padding-top: 320px; }
  @media screen and (max-width: 998px) {
    #content {
      padding-top: 220px; } }

.repertoire li {
  cursor: pointer; }
.repertoire .left-nav li {
  border-radius: 0;
  margin: 6px 0;
  padding: 15px;
  background-color: rgba(79, 80, 84, 0.85);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px; }
  .repertoire .left-nav li:active, .repertoire .left-nav li.active, .repertoire .left-nav li:focus, .repertoire .left-nav li:hover {
    background-color: #83b739; }
.repertoire .right-nav li {
  border-radius: 0;
  margin: 6px 0;
  padding: 0 20px;
  background-color: rgba(131, 183, 57, 0.85);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 60px; }
  .repertoire .right-nav li:active, .repertoire .right-nav li.active, .repertoire .right-nav li:focus, .repertoire .right-nav li:hover {
    background-color: #83b739; }
  .repertoire .right-nav li i {
    font-size: 20px;
    color: white;
    float: right;
    width: 20px;
    padding-left: 10px;
    padding-top: 20px; }
  .repertoire .right-nav li .list-group-icon {
    height: 60px;
    padding: 10px;
    padding-left: 0; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.hide_me {
  opacity: 0;
  transition: all 0.4s; }

.visible {
  opacity: 1; }

.btn {
  border-radius: 0; }

.btn--green, .btn--white, .section:nth-of-type(even) .btn, .section.green .btn,
.section.white:nth-of-type(even) .btn,
.section.white.green .btn, .section .btn,
.section.white .btn {
  background-color: #83b739;
  border-radius: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
  display: table;
  margin: 0 auto;
  padding: 10px; }
  .btn--green img, .btn--white img, .section:nth-of-type(even) .btn img, .section.green .btn img,
  .section.white:nth-of-type(even) .btn img,
  .section.white.green .btn img, .section .btn img,
  .section.white .btn img {
    width: 35px;
    display: table-cell;
    vertical-align: middle;
    height: auto; }
  .btn--green .btn__image, .btn--white .btn__image, .section .btn .btn__image {
    width: 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    height: auto;
    background-image: url("../uploads/telecharger.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
  .btn--green span, .btn--white span, .section:nth-of-type(even) .btn span, .section.green .btn span,
  .section.white:nth-of-type(even) .btn span,
  .section.white.green .btn span, .section .btn span,
  .section.white .btn span {
    text-transform: uppercase;
    font-weight: 600;
    display: table-cell;
    vertical-align: middle;
    max-width: 240px;
    padding-left: 10px;
    white-space: initial;
    color: white; }
  .btn--green:hover, .btn--white:hover, .section .btn:hover, .btn--green:focus, .btn--white:focus, .section .btn:focus, .btn--green:active, .btn--white:active, .section .btn:active {
    background-color: #67902d;
    color: white; }
    .btn--green:hover span, .btn--white:hover span, .section .btn:hover span, .btn--green:focus span, .btn--white:focus span, .section .btn:focus span, .btn--green:active span, .btn--white:active span, .section .btn:active span {
      color: white; }

.btn--white, .section:nth-of-type(even) .btn, .section.green .btn,
.section.white:nth-of-type(even) .btn,
.section.white.green .btn {
  background-color: white;
  color: #83b739; }
  .btn--white .btn__image, .section:nth-of-type(even) .btn .btn__image, .section.green .btn .btn__image {
    background-image: url("../uploads/telecharger-green.png"); }
  .btn--white span, .section:nth-of-type(even) .btn span, .section.green .btn span,
  .section.white:nth-of-type(even) .btn span,
  .section.white.green .btn span {
    color: #83b739; }
  .btn--white:hover, .section:nth-of-type(even) .btn:hover, .section.green .btn:hover, .btn--white:focus, .section:nth-of-type(even) .btn:focus, .section.green .btn:focus, .btn--white:active, .section:nth-of-type(even) .btn:active, .section.green .btn:active {
    background-color: #f8fbf4;
    color: #83b739; }
    .btn--white:hover span, .section:nth-of-type(even) .btn:hover span, .section.green .btn:hover span, .btn--white:focus span, .section:nth-of-type(even) .btn:focus span, .section.green .btn:focus span, .btn--white:active span, .section:nth-of-type(even) .btn:active span, .section.green .btn:active span {
      color: #83b739; }

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 1px; }
  .col-xs-5ths img,
  .col-sm-5ths img,
  .col-md-5ths img,
  .col-lg-5ths img {
    height: 60px !important; }

.col-xs-5ths {
  width: 20%;
  float: left; }

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-md-5ths {
    width: 20%;
    float: left; } }
@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left; } }
.accordion__toggle {
  text-decoration: none;
  display: table;
  width: 100%; }
  .accordion__toggle span, .accordion__toggle i {
    display: table-cell;
    vertical-align: middle; }
  .accordion__toggle i {
    padding-left: 5px; }

.accordion--open > .accordion__content {
  display: block; }

.accordion__content {
  display: none; }

.navbar-header {
  height: 150px; }
  @media screen and (max-width: 1200px) {
    .navbar-header {
      height: 100px; } }
  .navbar-header .navbar-brand {
    height: 100%;
    margin: 0; }
    @media screen and (max-width: 1200px) {
      .navbar-header .navbar-brand {
        width: 100%;
        display: block; } }
    .navbar-header .navbar-brand .logo {
      height: 100%;
      display: table; }
      @media screen and (max-width: 1200px) {
        .navbar-header .navbar-brand .logo {
          width: 100%;
          display: block; } }
      .navbar-header .navbar-brand .logo img {
        display: table-cell;
        vertical-align: middle;
        padding: 15px 5px;
        height: 150px; }
        @media screen and (max-width: 1200px) {
          .navbar-header .navbar-brand .logo img {
            height: 100px;
            margin: 0 auto; } }

.navbar-right {
  height: 150px; }
  @media screen and (max-width: 1200px) {
    .navbar-right {
      height: auto;
      margin-top: 0;
      margin-bottom: 0; } }
  .navbar-right > li {
    padding: 47.5px 0; }
    @media screen and (max-width: 1200px) {
      .navbar-right > li {
        padding: 10px 0; } }
    .navbar-right > li:hover, .navbar-right > li.active {
      background: #83b739;
      cursor: pointer; }
      .navbar-right > li:hover p, .navbar-right > li.active p {
        color: white; }
    .navbar-right > li > a {
      padding: 0 20px;
      background: none; }
      .navbar-right > li > a:hover {
        background: none; }
      @media screen and (max-width: 1200px) {
        .navbar-right > li > a img {
          display: none; } }

.subnav {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba(79, 80, 84, 0.85);
  transition: all 0.3s; }
  @media screen and (max-width: 1200px) {
    .subnav {
      display: none;
      background-color: rgba(79, 80, 84, 0.95); } }
  .subnav.affix {
    position: fixed;
    top: 0;
    width: 100%; }
  .subnav ul:first-child {
    position: relative;
    margin-bottom: 0;
    display: inline-block; }
    @media screen and (max-width: 1200px) {
      .subnav ul:first-child {
        display: block; } }
    .subnav ul:first-child > li {
      position: static;
      padding: 0 !important;
      cursor: pointer;
      margin: 0; }
      .subnav ul:first-child > li.cols-1 {
        position: relative; }
      .subnav ul:first-child > li.social:hover {
        background-color: transparent; }
      @media (max-width: 1200px) {
        .subnav ul:first-child > li {
          display: block; } }
      .subnav ul:first-child > li > a {
        color: #83b739;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
        font-size: 10px;
        line-height: 20px;
        padding: 20px 25px !important;
        transition: all 0.2s ease-in; }
        .subnav ul:first-child > li > a:hover, .subnav ul:first-child > li > a:active, .subnav ul:first-child > li > a:focus {
          background-color: #83b739;
          color: white; }
        .subnav ul:first-child > li > a.social__link {
          padding: 18px 10px !important;
          line-height: 20px; }
          .subnav ul:first-child > li > a.social__link:hover {
            background-color: transparent; }
            .subnav ul:first-child > li > a.social__link:hover i {
              color: #83b739; }
          .subnav ul:first-child > li > a.social__link i {
            color: white;
            font-size: 18px;
            line-height: 18px; }
      .subnav ul:first-child > li .submenu {
        padding: 15px 0 25px 0;
        left: 0;
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        text-align: left;
        box-shadow: 1px 1px 5px #c7c7c7;
        z-index: 1; }
        .subnav ul:first-child > li .submenu .column {
          width: 33.3333333333%;
          float: left;
          padding: 0 20px; }
          @media screen and (max-width: 1200px) {
            .subnav ul:first-child > li .submenu .column {
              width: 100%; } }
          .subnav ul:first-child > li .submenu .column:not:last-child {
            border-right: 1px solid #333; }
          .subnav ul:first-child > li .submenu .column .title {
            font-weight: 600;
            color: #83b739;
            font-size: 12px;
            text-transform: uppercase; }
          .subnav ul:first-child > li .submenu .column ol.description > li {
            font-weight: bold;
            color: #777; }
          .subnav ul:first-child > li .submenu .column ol.description > ul, .subnav ul:first-child > li .submenu .column ol.description p {
            color: #333;
            padding-left: 15px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px #83b739 solid; }
          .subnav ul:first-child > li .submenu .column ul.description, .subnav ul:first-child > li .submenu .column ol.description, .subnav ul:first-child > li .submenu .column .menu-niveau-3 {
            font-size: 10px;
            padding-left: 15px;
            margin-bottom: 20px; }
            .subnav ul:first-child > li .submenu .column ul.description > li, .subnav ul:first-child > li .submenu .column ol.description > li, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li {
              padding-bottom: 5px;
              border-bottom: 1px solid #83b739;
              margin-bottom: 15px; }
              .subnav ul:first-child > li .submenu .column ul.description > li > a, .subnav ul:first-child > li .submenu .column ol.description > li > a, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li > a {
                text-decoration: none;
                margin-bottom: 2px; }
            .subnav ul:first-child > li .submenu .column ul.description > li, .subnav ul:first-child > li .submenu .column ul.description > li > a, .subnav ul:first-child > li .submenu .column ul.description > li i, .subnav ul:first-child > li .submenu .column ol.description > li, .subnav ul:first-child > li .submenu .column ol.description > li > a, .subnav ul:first-child > li .submenu .column ol.description > li i, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li > a, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li i {
              list-style-type: none;
              color: #83b739;
              text-transform: uppercase;
              transition: all 0.4s; }
              .subnav ul:first-child > li .submenu .column ul.description > li:hover, .subnav ul:first-child > li .submenu .column ul.description > li > a:hover, .subnav ul:first-child > li .submenu .column ul.description > li i:hover, .subnav ul:first-child > li .submenu .column ol.description > li:hover, .subnav ul:first-child > li .submenu .column ol.description > li > a:hover, .subnav ul:first-child > li .submenu .column ol.description > li i:hover, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li:hover, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li > a:hover, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li i:hover {
                color: #4b6921; }
            .subnav ul:first-child > li .submenu .column ul.description > li i, .subnav ul:first-child > li .submenu .column ol.description > li i, .subnav ul:first-child > li .submenu .column .menu-niveau-3 > li i {
              float: right;
              cursor: pointer; }
            .subnav ul:first-child > li .submenu .column ul.description .menu-niveau-4, .subnav ul:first-child > li .submenu .column ol.description .menu-niveau-4, .subnav ul:first-child > li .submenu .column .menu-niveau-3 .menu-niveau-4 {
              padding: 0; }
              .subnav ul:first-child > li .submenu .column ul.description .menu-niveau-4 > li, .subnav ul:first-child > li .submenu .column ol.description .menu-niveau-4 > li, .subnav ul:first-child > li .submenu .column .menu-niveau-3 .menu-niveau-4 > li {
                color: #333;
                list-style-type: none;
                text-transform: uppercase; }
                .subnav ul:first-child > li .submenu .column ul.description .menu-niveau-4 > li > a, .subnav ul:first-child > li .submenu .column ol.description .menu-niveau-4 > li > a, .subnav ul:first-child > li .submenu .column .menu-niveau-3 .menu-niveau-4 > li > a {
                  color: #333;
                  padding: 3px 0;
                  display: block; }
                  .subnav ul:first-child > li .submenu .column ul.description .menu-niveau-4 > li > a:hover, .subnav ul:first-child > li .submenu .column ol.description .menu-niveau-4 > li > a:hover, .subnav ul:first-child > li .submenu .column .menu-niveau-3 .menu-niveau-4 > li > a:hover {
                    text-decoration: underline; }
                .subnav ul:first-child > li .submenu .column ul.description .menu-niveau-4 > li:hover, .subnav ul:first-child > li .submenu .column ol.description .menu-niveau-4 > li:hover, .subnav ul:first-child > li .submenu .column .menu-niveau-3 .menu-niveau-4 > li:hover {
                  background: none; }
          .subnav ul:first-child > li .submenu .column .actions {
            text-align: center; }
            .subnav ul:first-child > li .submenu .column .actions a {
              max-width: 50%;
              display: inline-block; }
              .subnav ul:first-child > li .submenu .column .actions a button {
                border: 1px #83b739 solid;
                background: white;
                transition: all 0.2s ease-in;
                width: 100%;
                color: #83b739;
                font-size: 9px;
                border-radius: 0;
                display: inline-block;
                max-width: 200px;
                white-space: normal;
                min-height: 50px;
                margin-bottom: 10px; }
                .subnav ul:first-child > li .submenu .column .actions a button:hover {
                  background: #83b739;
                  color: white; }
        .subnav ul:first-child > li .submenu.grid-1 {
          width: 320px; }
          @media screen and (max-width: 1200px) {
            .subnav ul:first-child > li .submenu.grid-1 {
              width: 100%; } }
          .subnav ul:first-child > li .submenu.grid-1 .column {
            width: 100%; }
            @media screen and (max-width: 1200px) {
              .subnav ul:first-child > li .submenu.grid-1 .column {
                width: 100%; } }
        .subnav ul:first-child > li .submenu.grid-2 .column {
          width: 50%; }
          @media screen and (max-width: 1200px) {
            .subnav ul:first-child > li .submenu.grid-2 .column {
              width: 100%; } }
        .subnav ul:first-child > li .submenu.grid-3 .column {
          width: 33.3333333333%; }
          @media screen and (max-width: 1200px) {
            .subnav ul:first-child > li .submenu.grid-3 .column {
              width: 100%; } }
        .subnav ul:first-child > li .submenu.grid-4 .column {
          width: 25%; }
          @media screen and (max-width: 1200px) {
            .subnav ul:first-child > li .submenu.grid-4 .column {
              width: 100%; } }
      .subnav ul:first-child > li:hover, .subnav ul:first-child > li:active, .subnav ul:first-child > li:focus {
        background-color: #83b739; }
        .subnav ul:first-child > li:hover .submenu, .subnav ul:first-child > li:active .submenu, .subnav ul:first-child > li:focus .submenu {
          display: block; }
      .subnav ul:first-child > li.active {
        background-color: #83b739; }
      .subnav ul:first-child > li:hover > a, .subnav ul:first-child > li.active > a, .subnav ul:first-child > li:active > a, .subnav ul:first-child > li:focus > a {
        color: white;
        cursor: pointer; }
      .subnav ul:first-child > li .submenu {
        display: none; }

.mobile-menu {
  position: relative;
  display: none;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 1200px) {
    .mobile-menu {
      display: block; } }
  .mobile-menu ul, .mobile-menu li {
    list-style-type: none; }
  .mobile-menu a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 10px;
    display: block;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    font-weight: 600; }
    .mobile-menu a i {
      padding-left: 5px;
      display: inline-block;
      font-size: 12px; }
    .mobile-menu a span {
      display: inline; }
  .mobile-menu__main-menu {
    display: table;
    width: 100%;
    background-color: white;
    padding: 0;
    margin: 0; }
    .mobile-menu__main-menu--wrapper {
      display: block; }
    .mobile-menu__main-menu > li {
      display: table-cell;
      vertical-align: middle; }
      .mobile-menu__main-menu > li.menu-toggle {
        background-color: rgba(79, 80, 84, 0.85); }
      .mobile-menu__main-menu > li.active {
        background-color: #83b739; }
      .mobile-menu__main-menu > li > a {
        display: block;
        padding: 12px;
        text-align: center; }
        .mobile-menu__main-menu > li > a img {
          max-width: 20px; }
        .mobile-menu__main-menu > li > a i {
          color: white;
          width: 20px;
          font-size: 20px; }
  .mobile-menu__submenu {
    background-color: rgba(79, 80, 84, 0.85);
    padding: 0;
    margin: 0; }
    .mobile-menu__submenu--wrapper {
      display: block; }
    .mobile-menu__submenu ul {
      padding-left: 10px; }
      .mobile-menu__submenu ul.menu-niveau-2, .mobile-menu__submenu ul.menu-niveau-3, .mobile-menu__submenu ul.menu-niveau-4 {
        background-color: white; }
    .mobile-menu__submenu.menu-niveau-1 > li > a {
      color: #83b739; }
      .mobile-menu__submenu.menu-niveau-1 > li > a i {
        color: #83b739; }
    .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li > a {
      color: #83b739; }
      .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li > a i {
        color: #83b739; }
    .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li .menu-niveau-3 > li > a {
      color: #83b739;
      border-bottom: 1px solid #83b739; }
      .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li .menu-niveau-3 > li > a i {
        color: #83b739; }
    .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li .menu-niveau-3 > li .menu-niveau-4 > li > a {
      color: rgba(79, 80, 84, 0.85);
      font-weight: normal; }
      .mobile-menu__submenu.menu-niveau-1 > li .menu-niveau-2 > li .menu-niveau-3 > li .menu-niveau-4 > li > a i {
        color: rgba(79, 80, 84, 0.85); }

.homepage__slider-wrapper {
  position: relative; }
  .homepage__slider-wrapper .homepage__slider {
    visibility: hidden;
    width: 100%;
    transition: visibility 0.3s ease-in;
    display: block; }
    .homepage__slider-wrapper .homepage__slider.slick-initialized {
      visibility: visible; }
    .homepage__slider-wrapper .homepage__slider .slide {
      position: relative; }
      .homepage__slider-wrapper .homepage__slider .slide__video iframe {
        width: 100%; }
      .homepage__slider-wrapper .homepage__slider .slide .image {
        background-color: transparent;
        display: block;
        background-size: cover;
        background-position: center;
        height: inherit;
        padding: 30px 0; }
        .homepage__slider-wrapper .homepage__slider .slide .image .caption {
          padding-top: 80px;
          padding-bottom: 20px;
          padding-left: 10px;
          padding-right: 10px;
          text-transform: uppercase;
          width: inherit;
          text-align: center;
          display: inline-block;
          width: 100%;
          color: white; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__image {
            display: table-cell;
            vertical-align: middle;
            padding-bottom: 20px; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__image--wrapper {
              display: table;
              width: 100%;
              height: inherit; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__image img {
              width: 100%;
              margin: 0 auto; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__title {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 20px;
            color: #4f5054;
            text-align: left; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description {
            font-size: 12px;
            line-height: 20px;
            font-weight: normal;
            margin-bottom: 20px;
            text-align: left; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description.light {
              color: #4f5054; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description h2, .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description h3 {
              font-size: 18px;
              line-height: 30px;
              font-weight: 500; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description ul, .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description li, .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description p {
              font-size: 12px;
              line-height: 20px;
              font-weight: normal;
              margin-bottom: 20px;
              text-align: left;
              padding-top: 0px; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description ul {
              margin-bottom: 20px; }
              .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description ul li {
                margin-bottom: 7px; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description i {
              font-size: 30px;
              color: #888;
              padding-right: 5px; }
            @media screen and (max-width: 768px) {
              .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__description {
                text-align: center; } }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__text {
            display: table-cell;
            vertical-align: middle;
            text-align: left;
            text-transform: none;
            padding-bottom: 20px;
            border-top: 3px solid #83b739;
            border-bottom: 3px solid #83b739; }
            .homepage__slider-wrapper .homepage__slider .slide .image .caption .caption__text--wrapper {
              display: table;
              width: 100%;
              height: inherit; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption img {
            width: 200px;
            margin: 0 auto; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption h1, .homepage__slider-wrapper .homepage__slider .slide .image .caption h3 {
            color: white;
            font-weight: bold;
            text-align: center;
            padding-bottom: 20px;
            line-height: 32px; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption h1 {
            font-size: 33px;
            line-height: 42px; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption h3 {
            font-size: 24px;
            line-height: 30px;
            margin: 0;
            padding: 0; }
          .homepage__slider-wrapper .homepage__slider .slide .image .caption p {
            font-size: 22px;
            line-height: 30px;
            padding-top: 10px; }
        .homepage__slider-wrapper .homepage__slider .slide .image .download {
          text-decoration: none;
          display: inline-block;
          text-align: center;
          width: 100%;
          margin-top: 0;
          margin-bottom: 0;
          padding-bottom: 20px; }
          .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link {
            display: table;
            background-color: #83b739;
            padding: 5px 15px;
            padding-top: 15px;
            margin: 0 auto;
            text-align: center;
            text-decoration: none;
            margin-top: 20px;
            transition: all 0.2s ease-in;
            max-width: 300px;
            margin-bottom: 50px; }
            .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link .download__image {
              display: table-cell;
              vertical-align: middle;
              height: 50px;
              display: inherit;
              margin-bottom: 5px;
              padding-right: 5px; }
            .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link .download__text {
              font-size: 18px;
              display: table-cell;
              vertical-align: middle;
              color: white;
              text-transform: uppercase;
              font-weight: bold;
              text-decoration: none; }
            .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link.white {
              background: white;
              color: #83b739; }
              .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link.white .download__text {
                color: #83b739; }
            .homepage__slider-wrapper .homepage__slider .slide .image .download .download__link:hover {
              background: #709c31; }
  .homepage__slider-wrapper .slider__dots {
    position: absolute;
    bottom: 5px;
    right: 15px;
    color: #83b739; }
    @media screen and (max-width: 768px) {
      .homepage__slider-wrapper .slider__dots {
        display: none;
        bottom: -25px;
        width: 100%;
        text-align: center; } }
    .homepage__slider-wrapper .slider__dots .slick-dots li {
      display: block;
      padding: 2px; }
      @media screen and (max-width: 1200px) {
        .homepage__slider-wrapper .slider__dots .slick-dots li {
          display: inline-block; } }
      .homepage__slider-wrapper .slider__dots .slick-dots li .slider__dot {
        background: #777;
        text-align: center;
        color: #333;
        font-weight: bold;
        cursor: pointer;
        padding: 2px 5px;
        transition: all 0.2s;
        border: 1px solid transparent; }
      .homepage__slider-wrapper .slider__dots .slick-dots li:hover .slider__dot, .homepage__slider-wrapper .slider__dots .slick-dots li.slick-active .slider__dot {
        border: 1px solid #999;
        background: white; }
  .homepage__slider-wrapper .icon--scroll {
    cursor: pointer; }
  .homepage__slider-wrapper .icon-scroll {
    width: 20px;
    height: 35px;
    position: absolute;
    bottom: 20px;
    margin-top: -35px;
    left: 50%;
    box-shadow: inset 0 0 0 3px #fff;
    border-radius: 25px;
    z-index: 1; }
    .homepage__slider-wrapper .icon-scroll--wrapper {
      width: 100%;
      text-align: center;
      position: relative; }
    .homepage__slider-wrapper .icon-scroll:before {
      position: absolute;
      left: 50%;
      content: ' ';
      width: 4px;
      height: 4px;
      background: #fff;
      margin-left: -2px;
      top: 4px;
      border-radius: 4px;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll; }
    @media screen and (max-width: 1200px) {
      .homepage__slider-wrapper .icon-scroll {
        display: none; } }
  .homepage__slider-wrapper i {
    width: 30px;
    height: 35px;
    bottom: 10px;
    position: absolute;
    left: 50%;
    color: white;
    font-size: 25px; }
    @media screen and (max-width: 1200px) {
      .homepage__slider-wrapper i {
        display: none; } }

.temoignage__image {
  display: table-cell;
  vertical-align: middle; }
  .temoignage__image--wrapper {
    display: table;
    width: 100%;
    height: inherit; }
  .temoignage__image img {
    margin: 0 auto; }
.temoignage__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #4f5054;
  text-align: right; }
.temoignage__description, .temoignage__description p {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 20px; }
  .temoignage__description i, .temoignage__description p i {
    font-size: 30px;
    color: #888;
    padding-right: 5px; }
.temoignage__text {
  display: table-cell;
  vertical-align: middle;
  text-align: right; }
  .temoignage__text--wrapper {
    display: table;
    width: 100%;
    height: inherit; }

.icones-slider-wrapper {
  position: relative; }
  .icones-slider-wrapper .icones-slider {
    visibility: hidden;
    width: 100%;
    transition: visibility 0.3s ease-in; }
    .icones-slider-wrapper .icones-slider.slick-initialized {
      visibility: visible; }
    .icones-slider-wrapper .icones-slider__arrow--left, .icones-slider-wrapper .icones-slider__arrow--right {
      display: none;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      padding: 10px;
      position: absolute;
      top: 47%;
      z-index: 1;
      cursor: pointer; }
    .icones-slider-wrapper .icones-slider__arrow--left {
      background-image: url("../uploads/arrow-left.png");
      left: 10px; }
    .icones-slider-wrapper .icones-slider__arrow--right {
      background-image: url("../uploads/arrow-right.png");
      right: 10px; }

.temoignages-slider-wrapper {
  position: relative;
  margin-bottom: 40px; }
  .temoignages-slider-wrapper .temoignages-slider {
    visibility: hidden;
    width: 100%;
    transition: visibility 0.3s ease-in; }
    .temoignages-slider-wrapper .temoignages-slider.slick-initialized {
      visibility: visible; }
    .temoignages-slider-wrapper .temoignages-slider__arrow--left, .temoignages-slider-wrapper .temoignages-slider__arrow--right {
      display: block;
      background-repeat: no-repeat;
      background-size: cover;
      width: 20px;
      height: 20px;
      padding: 10px;
      position: absolute;
      top: 47%;
      z-index: 1;
      cursor: pointer; }
    .temoignages-slider-wrapper .temoignages-slider__arrow--left {
      background-image: url("../uploads/arrow-left.png");
      left: -25px; }
    .temoignages-slider-wrapper .temoignages-slider__arrow--right {
      background-image: url("../uploads/arrow-right.png");
      right: -25px; }

.section,
.section.white {
  padding: 40px 0;
  color: #99999a;
  font-weight: bold;
  background: white; }
  .section .btn,
  .section.white .btn {
    margin-top: 30px;
    margin-bottom: 30px; }
  .section.map,
  .section.white.map {
    padding: 0;
    margin: 0; }
    .section.map iframe,
    .section.white.map iframe {
      pointer-events: none; }
  .section .section__video iframe,
  .section.white .section__video iframe {
    width: 100%; }
    @media screen and (max-width: 1200px) {
      .section .section__video iframe,
      .section.white .section__video iframe {
        height: 300px; } }
  .section .section__title,
  .section.white .section__title {
    text-transform: uppercase;
    font-weight: 600;
    color: #4f5054;
    text-align: center;
    padding-bottom: 30px;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 0; }
  .section .section__description, .section .section__description p,
  .section.white .section__description,
  .section.white .section__description p {
    color: #333;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: justify;
    font-weight: normal;
    text-transform: none; }
    .section .section__description.center, .section .section__description p.center,
    .section.white .section__description.center,
    .section.white .section__description p.center {
      text-align: center; }
      .section .section__description.center p, .section .section__description p.center p,
      .section.white .section__description.center p,
      .section.white .section__description p.center p {
        text-align: center; }
    .section .section__description p, .section .section__description p p,
    .section.white .section__description p,
    .section.white .section__description p p {
      margin-bottom: 20px;
      font-size: 14px; }
    .section .section__description ul, .section .section__description p ul,
    .section.white .section__description ul,
    .section.white .section__description p ul {
      margin-bottom: 20px; }
    .section .section__description li, .section .section__description p li,
    .section.white .section__description li,
    .section.white .section__description p li {
      margin-bottom: 10px; }
    .section .section__description.half, .section .section__description p.half,
    .section.white .section__description.half,
    .section.white .section__description p.half {
      text-align: justify;
      color: #504949;
      font-size: 1em; }
      @media (min-width: 768px) {
        .section .section__description.half, .section .section__description p.half,
        .section.white .section__description.half,
        .section.white .section__description p.half {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 40px;
          -moz-column-gap: 40px;
          column-gap: 40px; } }
  .section .section__tabs .tabs__wrapper,
  .section.white .section__tabs .tabs__wrapper {
    text-align: center; }
    .section .section__tabs .tabs__wrapper .tabs .tab,
    .section.white .section__tabs .tabs__wrapper .tabs .tab {
      display: inline-block;
      padding: 5px 20px;
      margin: 0 3px;
      background-color: #333;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.3s; }
      .section .section__tabs .tabs__wrapper .tabs .tab__active, .section .section__tabs .tabs__wrapper .tabs .tab:hover,
      .section.white .section__tabs .tabs__wrapper .tabs .tab__active,
      .section.white .section__tabs .tabs__wrapper .tabs .tab:hover {
        background-color: #83b739; }
      .section .section__tabs .tabs__wrapper .tabs .tab__title,
      .section.white .section__tabs .tabs__wrapper .tabs .tab__title {
        font-size: 14px;
        font-weight: bold;
        margin: 0; }
      @media screen and (max-width: 1200px) {
        .section .section__tabs .tabs__wrapper .tabs .tab,
        .section.white .section__tabs .tabs__wrapper .tabs .tab {
          display: block;
          margin: 3px;
          padding: 15px 10px; } }
    .section .section__tabs .tabs__wrapper .tab__content,
    .section.white .section__tabs .tabs__wrapper .tab__content {
      display: none;
      padding: 20px 0; }
      .section .section__tabs .tabs__wrapper .tab__content--active,
      .section.white .section__tabs .tabs__wrapper .tab__content--active {
        display: block; }
      .section .section__tabs .tabs__wrapper .tab__content--title,
      .section.white .section__tabs .tabs__wrapper .tab__content--title {
        color: #83b739;
        text-transform: uppercase;
        padding-top: 30px;
        padding-bottom: 20px; }
      .section .section__tabs .tabs__wrapper .tab__content--description,
      .section.white .section__tabs .tabs__wrapper .tab__content--description {
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 20px; }
  .section .col-green,
  .section.white .col-green {
    background-color: #83b739;
    padding: 20px;
    color: white;
    border-radius: 10px; }
    .section .col-green__title,
    .section.white .col-green__title {
      font-weight: bold;
      margin-bottom: 20px;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 30px; }
    .section .col-green__description, .section .col-green__description p,
    .section.white .col-green__description,
    .section.white .col-green__description p {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 20px; }
      .section .col-green__description ul, .section .col-green__description p ul,
      .section.white .col-green__description ul,
      .section.white .col-green__description p ul {
        margin-bottom: 30px; }
      .section .col-green__description li, .section .col-green__description p li,
      .section.white .col-green__description li,
      .section.white .col-green__description p li {
        margin-bottom: 6px; }
  .section .section__subtitle,
  .section.white .section__subtitle {
    text-align: center;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .section .download,
  .section.white .download {
    text-decoration: none;
    display: block;
    text-align: center; }
    .section .download .download__link,
    .section.white .download .download__link {
      display: inline-block;
      background-color: #83b739;
      padding: 5px 15px;
      padding-top: 15px;
      text-align: center;
      text-decoration: none;
      margin-top: 20px; }
      .section .download .download__link.white,
      .section.white .download .download__link.white {
        background: white;
        color: #83b739; }
        .section .download .download__link.white .download__text,
        .section.white .download .download__link.white .download__text {
          color: #83b739; }
      .section .download .download__link .download__image,
      .section.white .download .download__link .download__image {
        height: 30px;
        display: inherit;
        margin-bottom: 5px; }
      .section .download .download__link .download__text,
      .section.white .download .download__link .download__text {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none; }
  .section .box,
  .section.white .box {
    border: 1px white solid; }
    .section .box__title,
    .section.white .box__title {
      color: #222; }
    .section .box__description,
    .section.white .box__description {
      color: #222;
      font-weight: normal; }
      .section .box__description p,
      .section.white .box__description p {
        font-size: 12px; }
    .section .box ul, .section .box li,
    .section.white .box ul,
    .section.white .box li {
      font-weight: normal; }
    .section .box ul,
    .section.white .box ul {
      padding-bottom: 10px; }
  .section:nth-of-type(even), .section.green,
  .section.white:nth-of-type(even),
  .section.white.green {
    background-color: #83b739;
    color: white; }
    .section:nth-of-type(even) + .footer, .section.green + .footer,
    .section.white:nth-of-type(even) + .footer,
    .section.white.green + .footer {
      background-color: #83b739; }
    .section:nth-of-type(even) .section__title, .section.green .section__title,
    .section.white:nth-of-type(even) .section__title,
    .section.white.green .section__title {
      color: white;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 20px; }
    .section:nth-of-type(even) p, .section.green p,
    .section.white:nth-of-type(even) p,
    .section.white.green p {
      color: white; }
    .section:nth-of-type(even) .offer a:hover, .section.green .offer a:hover,
    .section.white:nth-of-type(even) .offer a:hover,
    .section.white.green .offer a:hover {
      opacity: 0.6; }
    .section:nth-of-type(even) .offer .offer__title, .section.green .offer .offer__title,
    .section.white:nth-of-type(even) .offer .offer__title,
    .section.white.green .offer .offer__title {
      color: white; }
    .section:nth-of-type(even) .offer--modal .offer__title, .section.green .offer--modal .offer__title,
    .section.white:nth-of-type(even) .offer--modal .offer__title,
    .section.white.green .offer--modal .offer__title {
      background-color: white;
      color: #83b739; }
      .section:nth-of-type(even) .offer--modal .offer__title i, .section.green .offer--modal .offer__title i,
      .section.white:nth-of-type(even) .offer--modal .offer__title i,
      .section.white.green .offer--modal .offer__title i {
        color: #83b739; }
    .section:nth-of-type(even) .offer--inline .offer__title, .section:nth-of-type(even) .offer--inline .offer__description, .section.green .offer--inline .offer__title, .section.green .offer--inline .offer__description,
    .section.white:nth-of-type(even) .offer--inline .offer__title,
    .section.white:nth-of-type(even) .offer--inline .offer__description,
    .section.white.green .offer--inline .offer__title,
    .section.white.green .offer--inline .offer__description {
      text-align: left;
      font-weight: bold; }
    .section:nth-of-type(even) .offer .offer__description p, .section.green .offer .offer__description p,
    .section.white:nth-of-type(even) .offer .offer__description p,
    .section.white.green .offer .offer__description p {
      color: white; }
    .section:nth-of-type(even) .box, .section.green .box,
    .section.white:nth-of-type(even) .box,
    .section.white.green .box {
      border: 1px white solid; }
      .section:nth-of-type(even) .box__title, .section.green .box__title,
      .section.white:nth-of-type(even) .box__title,
      .section.white.green .box__title {
        color: white; }
      .section:nth-of-type(even) .box__description, .section.green .box__description,
      .section.white:nth-of-type(even) .box__description,
      .section.white.green .box__description {
        color: white;
        font-weight: normal; }
      .section:nth-of-type(even) .box img, .section.green .box img,
      .section.white:nth-of-type(even) .box img,
      .section.white.green .box img {
        height: 40px; }
        .section:nth-of-type(even) .box img.boite-img, .section.green .box img.boite-img,
        .section.white:nth-of-type(even) .box img.boite-img,
        .section.white.green .box img.boite-img {
          height: 70px; }
    .section:nth-of-type(even) .download__link, .section.green .download__link,
    .section.white:nth-of-type(even) .download__link,
    .section.white.green .download__link {
      background-color: white; }
      .section:nth-of-type(even) .download__link.white, .section.green .download__link.white,
      .section.white:nth-of-type(even) .download__link.white,
      .section.white.green .download__link.white {
        background: white;
        color: white; }
        .section:nth-of-type(even) .download__link.white .download__text, .section.green .download__link.white .download__text,
        .section.white:nth-of-type(even) .download__link.white .download__text,
        .section.white.green .download__link.white .download__text {
          color: #83b739; }
      .section:nth-of-type(even) .download__link .download__image, .section.green .download__link .download__image,
      .section.white:nth-of-type(even) .download__link .download__image,
      .section.white.green .download__link .download__image {
        height: 30px;
        display: inherit;
        margin-bottom: 5px; }
      .section:nth-of-type(even) .download__link .download__text, .section.green .download__link .download__text,
      .section.white:nth-of-type(even) .download__link .download__text,
      .section.white.green .download__link .download__text {
        color: #83b739; }
  .section .offer,
  .section.white .offer {
    text-align: center;
    padding: 10px 0;
    height: inherit;
    display: block;
    position: relative; }
    .section .offer a,
    .section.white .offer a {
      text-decoration: none;
      transition: all 0.3s;
      opacity: 1; }
      .section .offer a:hover,
      .section.white .offer a:hover {
        opacity: 0.8; }
    .section .offer img,
    .section.white .offer img {
      margin: 0 auto;
      margin-bottom: 15px;
      height: 130px;
      display: block; }
    .section .offer .offer__title,
    .section.white .offer .offer__title {
      text-transform: uppercase;
      font-size: 13px;
      color: #333;
      font-weight: 600;
      text-align: center;
      line-height: 16px; }
    .section .offer .offer__description, .section .offer .offer__description p,
    .section.white .offer .offer__description,
    .section.white .offer .offer__description p {
      font-size: 12px;
      font-weight: normal;
      color: #333;
      height: 100px; }
    .section .offer .offer__hover,
    .section.white .offer .offer__hover {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      height: 100%;
      color: white;
      font-weight: normal;
      padding: 10px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
      cursor: pointer; }
    .section .offer:hover .offer__hover,
    .section.white .offer:hover .offer__hover {
      opacity: 1;
      visibility: visible; }
    .section .offer.small img,
    .section.white .offer.small img {
      margin: 0 auto;
      margin-bottom: 15px;
      max-height: 50px; }
    .section .offer--modal .offer__title,
    .section.white .offer--modal .offer__title {
      background-color: #83b739;
      color: white;
      padding: 0 10px;
      display: table;
      width: 100%;
      margin: 0;
      border: none;
      line-height: 20px;
      font-size: 15px; }
      .section .offer--modal .offer__title span,
      .section.white .offer--modal .offer__title span {
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 20px; }
      .section .offer--modal .offer__title i,
      .section.white .offer--modal .offer__title i {
        color: white;
        padding: 6px;
        display: table-cell;
        vertical-align: middle;
        font-size: 14px;
        line-height: 20px; }
    .section .offer--modal .offer__problemes,
    .section.white .offer--modal .offer__problemes {
      display: none; }
    .section .offer--modal .offer__solutions,
    .section.white .offer--modal .offer__solutions {
      display: none; }
    .section .offer--modal .offer__cta,
    .section.white .offer--modal .offer__cta {
      display: none; }
    .section .offer--slider .offer__title,
    .section.white .offer--slider .offer__title {
      width: auto;
      margin: 0 auto; }
  .section .solution-box,
  .section.white .solution-box {
    text-align: center;
    margin-top: 30px; }
  .section .solution-box__title,
  .section.white .solution-box__title {
    text-transform: uppercase;
    color: #333;
    font-size: 15px;
    font-weight: 600; }
  .section .solution-box__description,
  .section.white .solution-box__description {
    font-size: 12px;
    font-weight: normal; }
  .section .boxes-small .box,
  .section.white .boxes-small .box {
    min-height: 70px; }
  .section .box,
  .section.white .box {
    border: 1px #83b739 solid;
    padding: 10px 0;
    border-radius: 7px;
    margin: 0 auto;
    max-width: 280px;
    height: inherit; }
    .section .box.middle,
    .section.white .box.middle {
      display: table; }
      .section .box.middle .box__description, .section .box.middle .box__title,
      .section.white .box.middle .box__description,
      .section.white .box.middle .box__title {
        display: table-cell;
        vertical-align: middle; }
    .section .box.small,
    .section.white .box.small {
      display: block;
      margin-bottom: 0;
      background-color: #83b739;
      border-color: white; }
      .section .box.small .box__description, .section .box.small .box__title,
      .section.white .box.small .box__description,
      .section.white .box.small .box__title {
        display: block;
        color: white;
        margin-bottom: 0;
        font-size: 13.5px; }
        .section .box.small .box__description p, .section .box.small .box__title p,
        .section.white .box.small .box__description p,
        .section.white .box.small .box__title p {
          margin-bottom: 0; }
    .section .box.has-icon,
    .section.white .box.has-icon {
      position: relative; }
      .section .box.has-icon:after,
      .section.white .box.has-icon:after {
        position: absolute;
        content: "=";
        font-weight: bold;
        font-size: 18px;
        top: 50%;
        color: white;
        right: -20px; }
    .section .box img,
    .section.white .box img {
      height: 50px;
      text-align: center; }
      .section .box img.boite-img,
      .section.white .box img.boite-img {
        height: 70px;
        padding-bottom: 5px; }
    .section .box .box__title,
    .section.white .box .box__title {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 15px;
      margin-top: 10px; }
    .section .box .box__separator,
    .section.white .box .box__separator {
      width: 100%;
      background-color: white;
      height: 1px;
      margin: auto;
      margin-bottom: 20px; }
    .section .box .box__title, .section .box .box__description,
    .section.white .box .box__title,
    .section.white .box .box__description {
      padding-left: 10px;
      padding-right: 10px; }
    .section .box .box__description, .section .box .box__description p,
    .section.white .box .box__description,
    .section.white .box .box__description p {
      font-size: 12px;
      font-weight: normal;
      text-align: left; }
    .section .box ol.box__description,
    .section.white .box ol.box__description {
      padding-top: 20px;
      padding-left: 20px; }
    .section .box .box__description li,
    .section.white .box .box__description li {
      margin-bottom: 10px; }

.slider-caption .caption {
  padding: 0;
  text-align: center;
  padding: 20px 0;
  cursor: pointer; }
  .slider-caption .caption.active, .slider-caption .caption:hover {
    background-color: #83b739; }
  .slider-caption .caption img {
    width: 60px;
    height: 60px; }
  .slider-caption .caption p {
    text-align: center;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0; }

#problemes-solutions .modal-header {
  text-align: center;
  padding: 0;
  text-align: center;
  background-color: #83b739;
  border: none; }
  #problemes-solutions .modal-header .close {
    margin-top: -2px;
    top: 5px;
    position: relative;
    right: 5px;
    color: white;
    opacity: 1; }
#problemes-solutions .modal-content {
  border: 15px solid #83b739; }
#problemes-solutions .modal-dialog {
  min-width: 80%;
  top: 20%; }
#problemes-solutions .modal-body {
  border-radius: 5px;
  padding-bottom: 30px; }
#problemes-solutions .modal-title {
  display: inline-block;
  background-color: white;
  padding: 5px 15px;
  color: #83b739;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }
#problemes-solutions .modal__title {
  background-color: #83b739;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px;
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 5px; }
#problemes-solutions .modal__description p {
  font-size: 12px;
  color: black; }
#problemes-solutions .modal__description ul {
  font-size: 12px;
  list-style-type: circle;
  color: black; }
#problemes-solutions .modal-footer {
  text-align: center;
  border-radius: 5px;
  border: none;
  position: absolute;
  bottom: -60px;
  width: 100%; }
  #problemes-solutions .modal-footer img {
    width: 35px; }
  #problemes-solutions .modal-footer .btn span {
    width: 350px; }

.footer {
  background-image: url("../uploads/footer-bg.png");
  position: relative;
  display: block;
  height: 350px;
  background-repeat: repeat-x;
  background-size: cover; }
  .footer .bottom {
    position: absolute;
    bottom: 15px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
  .footer p {
    color: white;
    width: 100%;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    text-align: center; }
  .footer ul {
    padding: 0; }
    @media screen and (min-width: 998px) {
      .footer ul {
        display: none; } }
    .footer ul i {
      font-size: 25px;
      color: white; }

.projet-pilote .section__title {
  padding-bottom: 10px; }
  .projet-pilote .section__title--small {
    font-size: 18px;
    font-weight: normal; }
.projet-pilote .line {
  background-color: #83b739;
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 30px; }

#projet-pilote-1 .modal-dialog,
#projet-pilote-2 .modal-dialog,
#projet-pilote-3 .modal-dialog {
  min-width: 80%;
  top: 5%; }
#projet-pilote-1 .modal-header,
#projet-pilote-2 .modal-header,
#projet-pilote-3 .modal-header {
  border: none; }
#projet-pilote-1 .modal__title,
#projet-pilote-2 .modal__title,
#projet-pilote-3 .modal__title {
  text-transform: uppercase;
  font-weight: 600;
  color: #4f5054;
  text-align: center;
  padding-bottom: 30px;
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 0; }
#projet-pilote-1 .modal__image img,
#projet-pilote-2 .modal__image img,
#projet-pilote-3 .modal__image img {
  width: 100%; }

/* START OFFRE DE SERVICE
===================================== */
.offre-de-service .section__title {
  text-align: left;
  padding-bottom: 0; }
  .offre-de-service .section__title--small {
    margin: 0;
    font-size: 16px; }
.offre-de-service form {
  padding: 20px 0; }
  .offre-de-service form .form-group {
    max-width: 200px;
    vertical-align: top; }
    .offre-de-service form .form-group .btn {
      margin: 0; }

#telecharger-offre .modal-header {
  border: none; }
#telecharger-offre .modal-body {
  padding: 0px; }
  #telecharger-offre .modal-body .modal__title {
    color: #83b739;
    text-align: left; }
#telecharger-offre .modal-dialog {
  min-width: 80%;
  top: 5%; }
#telecharger-offre .section {
  padding-left: 15px;
  padding-right: 15px; }
  #telecharger-offre .section.white {
    padding-top: 0; }

/* END OFFRE DE SERVICE
===================================== */
