<footer class="section footer">
    <div class="row">
        <p>&copy; IAER Solutions, 2016, Tous Droits Reserves</p>
    </div>
  </footer>

  {% include problemes-solutions-modal.html %}

  <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
  <script src="js/bootstrap.js" type="text/javascript"></script>

  <script src="js/viewportchecker.js"></script>
  
  <script src="js/ct-navbar.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/common.js"></script>
</body>

	

</html>