{% assign has_custom_menu = false %}

{% for menu in site.menus %}
  {% assign page_slug = page.title | slugify %}
  {% assign menu_slug = menu.title | slugify %}
  {% if menu_slug contains page_slug %}
    {% assign has_custom_menu = true %}
    {% for link in menu.menu-niveau-1 %}
			<li class="accordion" data-accordion="{{ link.titre | slugify }}">
				<a href="{{ link.url | downcase }}" class="accordion__toggle" data-accordion="{{ link.titre | slugify }}">
					{% assign link_title = link.titre | slugify %}
					<span>{{ link.titre }}</span>
					{% if link.menu-niveau-2.size > 0 %}
						<i class="fa fa-plus"></i>
					{% endif %}
				</a>
				{% if link.menu-niveau-2.size > 0 %}
					<ul class="menu-niveau-2 accordion__content">
						{% for link-2 in link.menu-niveau-2 %}
							{% if link-2.titre == undefined %}
								{% for link-3 in link-2.menu-niveau-3 %}
									<li class="accordion" data-accordion="{{ link-3.titre | slugify }}">
										<a href="{{ link-3.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-3.titre | slugify }}">
											<span>{{ link-3.titre }}</span>
											{% if link-3.menu-niveau-4.size > 0 %}
												<i class="fa fa-plus"></i>
											{% endif %}
										</a>
										{% if link-3.menu-niveau-4.size > 0 %}
											<ul class="menu-niveau-4 accordion__content">
												{% for link-4 in link-3.menu-niveau-4 %}
													<li><a href="{{ link-4.url | downcase }}">{{ link-4.titre }}</a></li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
								{% endfor %}
							{% else %}
								<li class="accordion" data-accordion="{{ link-2.titre | slugify }}">
									<a href="{{ link-2.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-2.titre | slugify }}">
										{{ link-2.titre }}
										{% if link-2.menu-niveau-3.size > 0 %}
											<i class="fa fa-plus"></i>
										{% endif %}
									</a>
									<ul class="menu-niveau-3 accordion__content">
										{% for link-3 in link-2.menu-niveau-3 %}
											<li class="accordion" data-accordion="{{ link-3.titre | slugify }}">
												<a href="{{ link-3.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-3.titre | slugify }}">
													{{ link-3.titre }}
													{% if link-3.menu-niveau-4.size > 0 %}
														<i class="fa fa-plus"></i>
													{% endif %}
												</a>
												{% if link-3.menu-niveau-4.size > 0 %}
													<ul class="menu-niveau-4 accordion__content">
														{% for link-4 in link-3.menu-niveau-4 %}
															<li><a href="{{ link-4.url | downcase }}">{{ link-4.titre }}</a></li>
														{% endfor %}
													</ul>
												{% endif %}
											</li>
										{% endfor %}
									</ul>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endfor %}
  {% endif %}
{% endfor %}

{% if has_custom_menu == false %}
  {% for menu in site.menus %}
    {% assign page_slug = page.title | slugify %}
    {% assign menu_slug = menu.title | slugify %}
    {% if menu_slug == 'menu' %}
      {% assign has_custom_menu = true %}
      {% for link in menu.menu-niveau-1 %}
				<li class="accordion" data-accordion="{{ link.titre | slugify }}">
					<a href="{{ link.url | downcase }}" class="accordion__toggle" data-accordion="{{ link.titre | slugify }}">
						{% assign link_title = link.titre | slugify %}
						<span>{{ link.titre }}</span>
						{% if link.menu-niveau-2.size > 0 %}
							<i class="fa fa-plus"></i>
						{% endif %}
					</a>
					{% if link.menu-niveau-2.size > 0 %}
						<ul class="menu-niveau-2 accordion__content">
							{% for link-2 in link.menu-niveau-2 %}
								{% if link-2.titre == undefined %}
									{% for link-3 in link-2.menu-niveau-3 %}
										<li class="accordion" data-accordion="{{ link-3.titre | slugify }}">
											<a href="{{ link-3.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-3.titre | slugify }}">
												<span>{{ link-3.titre }}</span>
												{% if link-3.menu-niveau-4.size > 0 %}
													<i class="fa fa-plus"></i>
												{% endif %}
											</a>
											{% if link-3.menu-niveau-4.size > 0 %}
												<ul class="menu-niveau-4 accordion__content">
													{% for link-4 in link-3.menu-niveau-4 %}
														<li><a href="{{ link-4.url | downcase }}">{{ link-4.titre }}</a></li>
													{% endfor %}
												</ul>
											{% endif %}
										</li>
									{% endfor %}
								{% else %}
									<li class="accordion" data-accordion="{{ link-2.titre | slugify }}">
										<a href="{{ link-2.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-2.titre | slugify }}">
											{{ link-2.titre }}
											{% if link-2.menu-niveau-3.size > 0 %}
												<i class="fa fa-plus"></i>
											{% endif %}
										</a>
										<ul class="menu-niveau-3 accordion__content">
											{% for link-3 in link-2.menu-niveau-3 %}
												<li class="accordion" data-accordion="{{ link-3.titre | slugify }}">
													<a href="{{ link-3.url | downcase }}" class="accordion__toggle" data-accordion="{{ link-3.titre | slugify }}">
														{{ link-3.titre }}
														{% if link-3.menu-niveau-4.size > 0 %}
															<i class="fa fa-plus"></i>
														{% endif %}
													</a>
													{% if link-3.menu-niveau-4.size > 0 %}
														<ul class="menu-niveau-4 accordion__content">
															{% for link-4 in link-3.menu-niveau-4 %}
																<li><a href="{{ link-4.url | downcase }}">{{ link-4.titre }}</a></li>
															{% endfor %}
														</ul>
													{% endif %}
												</li>
											{% endfor %}
										</ul>
									</li>
								{% endif %}
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
    {% endif %}
  {% endfor %}
{% endif %}