<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="offre-de-service">
            <h1 class="section__title">Cette offre de valeur-de-mon-frêne vous intéresse</h1>
            <h3 class="section__title--small">Reçevez directement la présentaton des offres de services par courriel</h3>

            <form method="post" action="?" id="offre-de-service" class="form-inline" novalidate>
                <input type="hidden" name="_subject" value="Offre de Service: {{ page.title }}" />
                <input type="hidden" name="_format" value="plain" />
                <input type="hidden" name="_language" value="fr" />
                <input type="text" name="_gotcha" style="display:none" />
                <input type="hidden" name="service" value="{{ page.title }}">
                <div class="form-group">
                    <input type="text" name="organisation" value="" placeholder="Organisation" class="form-control" required>
                    <p class="help-block text-error error" style="display: none;">Veuillez entrer le nom de votre organisation.</p>
                </div>
                <div class="form-group">
                    <input type="email" name="email" value="" placeholder="Addresse courriel" class="form-control" required>
                    <p class="help-block text-error error" style="display: none;">Veuillez entrer votre addresse courriel.</p>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn--green"><i class="fa fa-envelope"></i> Reçevoir le détail des services</button>
                </div>

                <p class="status__failure text-error text-center" style="display: none;">Une erreur s'est produite. Veuillez réessayer.</p>
                <p class="status__success text-success text-center" style="display: none;">Votre offre de service vous sera envoyée par courriel.</p>
            </form>
        </div>
    </div>
</div>