<!-- Modal -->
  <div id="projet-pilote-3" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="modal__description">
                Toutes les activités techniques et les services administratifs sont pilotés 
par des supports numériques qui aident chaque acteur à communiquer 
en tout temps. L’information est ainsi rapidement partagée et les décisions 
prises en toute sérénité.
              </div>
              <div class="modal__image">
                <img src="uploads/projet-pilote-3.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>