<!-- Modal -->
  <div id="projet-pilote-1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="modal__title">Inventaire Intelligent</h1>
              <div class="modal__description">
                <p>La solution technologique qui permet à l’ensemble des propriétaires de frêne sur le territoire municipal d’obtenir un service d’inventaire qui augmente l’intérêt de passer à l’action sur la base des faits liés à l’état ou aux conditions précises pour chaque frêne.</p>
                <p>Tous les frênes du territoire (boisé, rive des cours d’eau, milieu humide, terrain résidentiel, institutionnel) sont inventoriés puis suivi en temps réel
                La municipalité gagne en efficacité dans la lutte, en  temps et argent dans la stratégie concertée.</p>
              </div>
              <div class="modal__image">
                <img src="uploads/projet-pilote-1.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>