{% if page.slider %}
    <div class="homepage__slider-wrapper">
      <div class="homepage__slider row-eq-height">
        {% for slide in page.slider %}
          <div class="slide col-eq-height">
            <div class="image" style="background-image: url({{ slide.image }})">
              <div class="row">
                <div class="caption">
                  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    {% if slide.icone_image %}
                      <img src="{{ slide.icone_image }}">
                    {% endif %}
                    {% if slide.video %}
                      {% assign video_url = slide.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'http://www.youtube.com/watch?v=', 'https://youtube.com/embed/' | replace: 'http://youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' | replace: 'http://youtu.be/', 'https://www.youtube.com/embed/' %}
                      <div class="slide__video">
                        <iframe width="100%" height="400" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
                      </div>
                    {% endif %}
                    {{ slide.description | markdownify }}
                  </div>
                </div>
                <div class="download">
                  {% if slide.telecharger == true %}
                    <a class="btn btn-default btn--green" href="#">
                      <div class="btn__image"></div>
                      <span>Découvrez comment dès maintenant</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        {% endfor %}

      </div>
      <div class="slider__dots"></div>
    </div>
  {% endif %}