{% if page.slider %}
    <div class="homepage__slider-wrapper">
      <div class="homepage__slider row-eq-height">
        {% for slide in page.slider %}
          <div class="slide col-eq-height">
            <div class="image" style="background-image: url({{ slide.image }})">
              <div class="row">
                <div class="caption">
                  {% if slide.image_large %}
                    <div class="col-sm-10 col-sm-offset-1">
                      <div class="col-sm-5">
                          <div class="caption__image--wrapper">
                              <div class="caption__image">
                                  <img src="{{ slide.image_large }}" class="img-responsive">
                              </div>
                          </div>
                      </div>
                      <div class="col-sm-7">
                          <div class="caption__text--wrapper">
                              <div class="caption__text">
                                  <div class="caption__description">
                                      {{ slide.description | markdownify }}
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  {% else %}
                    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                      {% if slide.icone_image %}
                        <img src="{{ slide.icone_image }}">
                      {% else %}
                        <br><br>
                      {% endif %}
                      {% if slide.video %}
                        {% assign video_url = slide.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'http://www.youtube.com/watch?v=', 'https://youtube.com/embed/' | replace: 'http://youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' | replace: 'http://youtu.be/', 'https://www.youtube.com/embed/' %}
                        <div class="slide__video">
                          <iframe width="100%" height="400" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
                        </div>
                      {% endif %}
                      {{ slide.description | markdownify }}
                    </div>
                  {% endif %}
                </div>
                <div class="download">
                  {% if slide.call_to_action[0] %}
                    <a class="btn btn-default btn--green" href="{{ slide.call_to_action[0].url }}">
                      <div class="btn__image"></div>
                      <span>{{ slide.call_to_action[0].texte }}</span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        {% endfor %}

      </div>
      <div class="slider__dots"></div>
      <div class="icon-scroll--wrapper">
        <div class="icon-scroll"></div>
      </div>
    </div>
  {% endif %}