{% if page.slider %}
    <div class="homepage__slider-wrapper">
      <div class="homepage__slider">
        {% for slide in page.slider %}
          <div class="slide">
            <div class="image" style="background-image: url({{ slide.image }})">
              <div class="row">
                <div class="caption">
                  <div class="col-sm-6 col-sm-offset-3">
                    {% if image_icone %}
                      <img src="{{ slide.image_icone }}">
                    {% endif %}
                    {{ slide.description | markdownify }}
                  </div>
                </div>
                <div class="download">
                  {% if slide.telecharger == true %}
                    <div class="download">
                      <a class="download__link" href="#">
                        <img src="/uploads/telecharger.png" class="download__image">
                        <p class="download__text">Découvrez comment dès maintenant</p>
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

          </div>
        {% endfor %}

      </div>
      <div class="slider__dots"></div>
    </div>
  {% endif %}