<!-- Modal -->
  <div id="telecharger-offre" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <div class="section white">
            <div class="row">
              <div class="col-sm-12">
                <h1 class="modal__title section__title visible">Services Professionnels</h1>
                <div class="modal__description section__description visible">
                  <p>Nous collaborons avec les gestionnaires et les professionnels administratifs pour faire de la lutte contre l'insecte un objectif accessible à moindre coût pour tous les propriétaires.</p>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-1.png">
                    <div class="offer__description">1. Atelier d'identification des besoins, des enjeux et des défis locaux.</div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-2.png">
                    <div class="offer__description">2. Inventaires intelligents des frênes en terrain public et privé</div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-3.png">
                    <div class="offer__description">3. Mise en place des supports de gestion concertée pour tous</div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-4.png">
                    <div class="offer__description">4. Analyse des foyers d'infestation et mise en place du protocole de maîtrise</div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-5.png">
                    <div class="offer__description">5. Implantation du processus de récupération du bois infesté</div>
                  </a>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-eq-height">
                <div class="offer">
                  <a href="" class="no-link">
                    <img src="/uploads/telecharger-offre-6.png">
                    <div class="offer__description">6. Mise en place de la solution concertée avec les solutions technologiques intégrées</div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="section">
            {% include offre-de-service.html %}
          </div>
        </div>
      </div>

    </div>
  </div>