  {% include header.html %}

  <div class="homepage__slider-wrapper">
    <div class="homepage__slider">
      <div class="slide">
        <div class="image" style="background-image: url(/uploads/beau-frene-overlay.jpg)">
          <div class="row">
            <div class="caption">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="/uploads/activites-preventives-blanc.png">
                <h3>Activités<br/> préventives lutte</h3>
                <h6>PRÉVENIR VAUT MIEUX QUE GUÉRIR, LA BONNE ACTION AU BON ENDROIT, AU BON MOMENT AVEC LA BONNE TECHNIQUE</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__dots"></div>
  </div>

  <!--<div class="slider-caption">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 caption active">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
      </div>
    </div>
  </div>-->

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Defis et Enjeux</h1>
        </div>
        <div class="col-sm-12">
          <p class="section__description">LA DISTRIBUTION DES FRÊNES APPARTENANTS À DIVERS PROPRIÉTAIRES
          SUR L’ENSEMBLE DU TERRITOIRE À DES DENSITÉS
          VARIANTES CONSTITUE LE DÉFI QUE LES MUNICIPALITÉS
          DOIVENT SURMONTER POUR DÉTECTER UN INSECTE DONT LES
          SIGNAUX DE LA PRÉSENCE PEUVENT ÊTRE OBSERVÉS
          SEULEMENT APRÈS QUELQUES ANNÉES. L’ÉTABLISSEMENT DES INDICATEURS BASÉS SUR LES TYPES DE
          PROPRIÉTAIRES, LES MILIEUX DE CROISSANCE DES FRÊNES ET
          LA QUALITÉ DES DONNÉES SUR LES FRÊNES DEVIENNENT DES
          ENJEUX PRIORITAIRES.</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="section green">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="box has-icon">

            <h2 class="box__title">Bonifier les méthodes, délais de collecte et traitement des données d'arbres</h2>

            <div class="box__separator"></div>

            <p class="box__description">Savoir rapidement ou sont les frênes et qui sont les propriétaires</p>
            <p class="box__description">Améliorer a précision des indicateurs d'évaluation des arbres</p>
            <p class="box__description">Mettre en place une offre d'actions et solutions concertées bénéfiques pour tous les intervenants</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box has-icon">

            <h2 class="box__title">Augmente la performance des techniques d'intervention</h2>

            <div class="box__separator"></div>

            <p class="box__description">Adapter les techniques de déistage à l'état de santé des frênes et à la distribution des peuplements</p>
            <p class="box__description">Diversifier et améliorer l'efficacité des techniques de dépistage</p>
            <p class="box__description">Améliorer le niveau de participation des intervenants locaux</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box has-icon">

            <h2 class="box__title">Responsabiliser les propriétaires de frênes avec des outils simples</h2>

            <div class="box__separator"></div>

            <p class="box__description">Donner l'information claire et précise au propriétaire</p>
            <p class="box__description">Développer les offres de solutions avantageuses pour les intervenants</p>
            <p class="box__description">Simplifier l'implication des citoyens et organismes du milieu</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box">

            <h2 class="box__title">Mettre en place une offre des services publics numérique en phase avec la gestion durable</h2>

            <div class="box__separator"></div>

            <p class="box__description">Rapprocher les propriétaires et intervenants des actions proposées</p>
            <p class="box__description">Interagir avec les technologies proches des habitudes de consommation en mutuations</p>
            <p class="box__description">Réduire et contrôler les coûts directs et indirects</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">La solution</h1>
        </div>
        <div class="col-sm-6">
          <p class="section__description">RENDRE LE PROCESSUS DE PRISE DE DÉCISION PRÉCIS ET
            DOCUMENTÉ SONT À L’ORIGINE DE LA SOLUTION PROPOSÉE
            PAR VALEUR DE MON FRÊNE. SUR LA BASE DES INDICATEURS
            PROPRES À CHAQUE ESPACE DU TERRITOIRE, DES CRITÈRES
            SPÉCIFIQUES PERMETTENT AUX MUNICIPALITÉS D’ACCÉLÉRER</p>
        </div>
        <div class="col-sm-6">
          <p class="section__description">LES INVENTAIRES TOUT EN DOCUMENTANT L’ÉTAT DE SANTÉ ET
          ET LES CONDITIONS GÉNÉRALES DE CHAQUE FRÊNE. TOUS LES
          PROPRIÉTAIRES ONT L’HEURE JUSTE SUR LEURS FRÊNES ET
          PEUVENT LES PRÉSERVER EN TOUTE SÉRÉNITÉ ET SÉCURITÉ.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img class="img-responsive" src="/uploads/diagnostique.png">
            <h3 class="offer__title">ÉVALUATION NUMÉRIQUE DU FRÊNE</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img class="img-responsive" src="/uploads/modules.png">
            <h3 class="offer__title">MODULE DE GESTION CONCERTÉ</h3>
            <p class="offer__description">
              <ol>
                <li>Inventaire et évaluation</li>
                <li>Dépistage et surveillance</li>
                <li>Services administratif</li>
              </ol>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img class="img-responsive" src="/uploads/plateforme.png">
            <h3 class="offer__title">PLATEFORME MULTIFONCTIONNELLE</h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="download">
            <a class="download__link" href="#">
              <img src="/uploads/icon__Institutions.png" class="download__image">
              <p class="download__text">Télécharger notre offre</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section green">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Bénéfices directs et indirects</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img src="/uploads/citoyens-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Résidents propriétaires</h2>

            <ol class="box__description">
              <li>Accès à un outil permanent d'aide à la décision/li>
              <li>Réduction des coûts de gestion</li>
              <li>Amélioration des connaissances</li>
              <li>Gestion des services municipaux en ligne</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img src="/uploads/municipalite-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Municipalités</h2>

            <ol class="box__description">
              <li>Accès rapides à toutes les données techniques des frênes</li>
              <li>Réduction de l'utilisation du papier</li>
              <li>Responsabilisation des citoyens propriétaires</li>
              <li>Meilleure visibilité du plan d'intervention</li>
              <li>Digitalisation et mobilisation et implication de plusieurs intervenants</li>
              <li>Amélioration de la qualité et de l'utilisation des données</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img src="/uploads/professionnels-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Professionels</h2>

            <ol class="box__description">
              <li>Amélioration de la qualité de service</li>
              <li>Gain d'efficacité et de temps</li>
              <li>Augmentation du niveau précision des actions techniques</li>
              <li>Optimisation des déplacements et des délais d'intervention</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include footer.html %}