{% include header.html %}


  {% if page.slider %}
    <div class="homepage__slider-wrapper">
      <div class="homepage__slider">
        {% for slide in page.slider %}
          <div class="slide">
            <div class="image" style="background-image: url({{ slide.image }})">
              <div class="row">
                <div class="caption">
                  <div class="col-sm-6 col-sm-offset-3">
                    {% if icone_image %}
                      <img src="{{ slide.icone_image }}">
                    {% endif %}
                    {{ slide.description | markdownify }}
                  </div>
                </div>
                {% if slide.telecharger == true %}
                  <div class="download">
                    <a class="download__link" href="#">
                      <img src="/uploads/telecharger.png" class="download__image">
                      <p class="download__text">Demandez L'evaluation des maintenant</p>
                    </a>
                  </div>
                {% endif %}
              </div>
            </div>

          </div>
        {% endfor %}

      </div>
      <div class="slider__dots"></div>
    </div>
  {% endif %}

  {% if page.sections %}
    {% assign sections = page.sections %}
    {% for section in sections %}
      <div class="section {% cycle 'white', 'green' %}">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="section__title">{{ section.titre }}</h1>
              
              <p class="section__description center">{{ section.description }}</p>
            </div>
          </div>
          <div class="row row-eq-height">
            {% if section.icones %}
              {% assign icones = section.icones %}
              {% for icone in icones %}
                {% if icones.size > 4 %}
                  {% assign cols = 3 %}
                {% else %}
                  {% assign cols = 12 | divided_by: icones.size %}
                {% endif %}
                <div class="col-sm-6 col-md-{{ cols }} col-eq-height">
                  <div class="offer">
                    <a href="{{ icone.url }}">
                      <img src="{{ icone.image }}">
                      <h3 class="offer__title">{{ icone.titre }}</h3>
                      <p class="offer__description">{{ icone.description | markdownify }}</p>
                    </a>
                  </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.boites %}
              {% assign boites = section.boites %}
              {% for boite in boites %}
                {% assign cols = 12 | divided_by: boites.size %}
                {% if boites.size == 2 %}
                    <div class="col-md-10 col-md-offset-3 col-eq-height">
                {% else %}
                    <div class="col-sm-6 col-md-{{ cols }} col-eq-height">
                {% endif %}

                    <div class="box">

                        <h2 class="box__title">{{ boite.titre }}</h2>

                        <div class="box__separator"></div>

                        <p class="box__description">{{ boite.description | markdownify }}</p>
                    </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.benefices %}
              {% assign benefices = section.benefices %}
              {% for benefice in benefices %}
                {% assign cols = 12 | divided_by: benefices.size %}
                <div class="col-sm-6 col-md-{{ cols }} col-eq-height">
                    <div class="box">
                        {% if benefice.image %}
                          <div class="text-center">
                              <img class="" src="{{ benefice.image }}">
                          </div>
                        {% endif %}
                        <h2 class="box__title">{{ benefice.titre }}</h2>

                        <div class="box__description">
                            {{ benefice.description | markdownify }}
                        </div>
                    </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.benefices_simple %}
              {% assign benefices = section.benefices_simple | sort: 'position' %}
              {% for benefice in benefices %}
                <div class="col-sm-6 col-md-4">
                    <div class="box small">
                        <p class="box__description">{{ benefice.description}}</p>
                    </div>
                </div>
              {% endfor %}
            {% endif %}

            {% if section.demander_evaluation == true %}
              <div class="download">
                <a class="download__link" href="#">
                  <img src="/uploads/telecharger{% cycle '-green', '' %}.png" class="download__image">
                  <p class="download__text">Demandez L'evaluation des maintenant</p>
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12s">
          <h1 class="section__title" style="margin:0; padding:0;">carte des villes déservies</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="section map">
    <div class="container-fluid">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174615.0545655111!2d-71.48615471253846!3d46.85628295842766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb8968a05db8893%3A0x8fc52d63f0e83a03!2sQu%C3%A9bec+City%2C+QC!5e0!3m2!1sen!2sca!4v1492800935351" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>


{% include footer.html %}