{% include header.html %}


  <div class="homepage__slider-wrapper">
    <div class="homepage__slider">
      <div class="slide">
        <div class="image" style="background-image: url(/uploads/beau-frene-overlay.jpg)">
          <div class="row">
            <div class="caption">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="/uploads/diagnostique-et-evaluation-blanc.png">
                <h3>Diagnostique<br/> des donnees</h3>
                <h6>L’INNOVATION POUR ASSURER L’INVENTAIRE RAPIDE ET INTELLIGENT DE TOUS LES FRÊNES</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__dots"></div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">PRÉSENTATION</h1>
        </div>
        <div class="col-sm-12">
          <p class="section__description">VALEUR DE MON FRÊNE OFFRE UN DIAGNOSTIC QUI PREND
            EN COMPTE L’ENSEMBLE DU TERRITOIRE GRÂCE À UNE APPLICATION
            ACCESSIBLE À TOUS LES PROPRIÉTAIRES DE FRÊNE.
            CETTE VISION GLOBALE PERMET AUX MUNICIPALITÉS DE PRENDRE LE CONTRÔLE PERMANENT DU BILAN DE L’ÉTAT DE SANTÉ
            DE CHAQUE FRÊNE DU TERRITOIRE. CE QUI AIDE À SUIVRE
            ET LIMITER L’AUGMENTATION DES FOYERS D’INFESTATION
            ET LA POPULATION DES INSECTES</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-sm-12">
          <h1 class="section__title">VALEUR DE MON FRÊNE ACCOMPAGNE
            LES PROFESSIONNELS SELON LES PRIORITÉS
            ET LES OBJECTIFS DE MANIÈRE À….</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle col-eq-height">

            <p class="box__description">Évaluer votre territoire ou des emplacements
              précis ainsi que les données et
              outils de gestion disponibles. Les résultats
              offrent des choix de solutions
              économiques et efficientes directement
              utilisables
            </p>
            
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle col-eq-height">

            <p class="box__description">Créer en fonction de la distribution des
              frênes sur le territoire des zones géographiques
              de déploiement des actions
              techniques intégrées de lutte préventives
              ou intensives</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle col-eq-height">

            <p class="box__description">Arrimer les interventions techniques à un
              processus évolutif qui prend en compte
              tous les propriétaires et emplacements de
              frênes dans chaque zone géographique.</p>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="download">
            <a class="download__link white" href="#">
              <img src="/uploads/icon__Institutions.png" class="download__image">
              <p class="download__text">Télécharger notre offre</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">UN ENVIRONNEMENT TECHNOLOGIQUE
            ADAPTÉ POUR LA GESTION SERRÉE
            D’ARBRES DES:</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="offer">
            <img src="/uploads/arbre-rue.png">
            <h3 class="offer__title">RUES</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="offer">
            <img src="/uploads/arbre-residence.png">
            <h3 class="offer__title">TERRAINS RÉSIDENTIELS</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="offer">
            <img src="/uploads/arbre-parc.png">
            <h3 class="offer__title">PARCS</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="offer">
            <img src="/uploads/arbre-institution.png">
            <h3 class="offer__title">TERRAINS RUES INSTITUTIONNELS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section green">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Bénéfices</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Accès aux solutions personnalisées</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Augmentation de la précision de l’information</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Communication numérique avec tous les intervenants</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Aucun logiciel à payer</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Aucune base de données à gérer</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Paiement limité au besoin exprimé</p>
          </div>
        </div>
      </div>
    </div>
  </div>


{% include footer.html %}