  {% include header.html %}

  <div class="homepage__slider-wrapper">
    <div class="homepage__slider">
      <div class="slide">
        <div class="image" style="background-image: url(/uploads/beau-frene-overlay.jpg)">
          <div class="row">
            <div class="caption">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="/uploads/communication-blanc.png">
                <h3>Communication <br/> et règlementation</h3>
                <h6>CRÉER DE L’INTÉRÊT ET DOTER CHAQUE PROPRIÉTAIRE D’UN OUTIL
                ACCESSIBLE, DISPONIBLE ET COMPLET QUI AIDE À L’INFORMATION
                ET À LA PRISE DE DÉCISION PERMANENTE</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__dots"></div>
  </div>

  <!--<div class="slider-caption">
    <div class="container">
      <div class="row">
        <div class="col-sm-3 caption active">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
        <div class="col-sm-3 caption">
          <img src="/uploads/icon__Recyclage.png" class="icon">
          <p>Evaluer</p>
        </div>
      </div>
    </div>
  </div>-->

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">DÉFIS ET ENJEUX</h1>
        </div>
        <div class="col-sm-12">
          <p class="section__description">LES MUNICIPALITÉS ONT LA RESPONSABILITÉ DE PRÉSERVER
            À TRAVERS DES POLITIQUES ET RÈGLEMENTS LA FORÊT URBAINE
            POUR LE BIEN ÊTRE DE SES RÉSIDENTS ET INFRASTRUCTURES. SENSIBILISER
            LES RÉSIDENTS SUR LA MENACE QUE REPRÉSENTE LE PETIT INSECTE
            (AGRILE DU FRÊNE) VENU D’AILLEURS ET VIVANT DANS
            LA CIME DES FRÊNES EST TOUT UNE COMMANDE. DÉTERMINER LA STRATÉGIE AVEC LES OUTILS
            QUI PERMETTENT À LA MUNICIPALITÉ D’ÉTABLIR UN LEADERSHIP
            DE COORDINATION CONSTITUE L’ENJEU CENTRAL POUR
            ASSURER LE CONTRÔLE DES ACTIONS D’INTERVENTION.</p>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <h2 class="box__title">DÉTERMINER LES BESOINS DES
              PROPRIÉTAIRES DES FRÊNES
              ET DES INTERVENANTS</h2>

            <div class="box__separator"></div>

            <p class="box__description">Créer un environnement qui permet aux
            citoyens de se sentir partie prenante de la
            solution</p>
            <p class="box__description">Développer des solutions accessibles et
            adaptées aux défis identifiés par les propriétaires</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <h2 class="box__title">PLACER LES PROPRIÉTAIRES
              RÉSIDENTS AU COEUR
              DE LA STRATÉGIE
              DE COMMUNICATION</h2>

            <div class="box__separator"></div>

            <p class="box__description">Simplifier la logistique qui soutient la
              collaboration avec les propriétaires d’arbres</p>
            <p class="box__description">Augmenter le niveau d’accessibilité à
              l’information de qualité</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <h2 class="box__title">CONCILIER LA RÈGLEMENTATION
              AUX SOLUTIONS
              LOCALES CONCERTÉES</h2>

            <div class="box__separator"></div>

            <p class="box__description">Ajuster la règlementation aux services
              de soutien et aux contraintes des
              intervenants</p>
            <p class="box__description">Développer des avenues qui suscitent
              l’intérêt à l’application de la règlementation
              dans les meilleurs délais</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">La solution</h1>
        </div>
        <div class="col-sm-6">
          <p class="section__description">VALEUR AU FRÊNE ACCOMPAGNE LES VILLES, LES MUNICIPALITÉS
            RÉGIONALES DES COMTÉS DANS LEURS RESPONSABILITÉS
            D’INFORMER LES RÉSIDENTS, DE METTRE EN PLACE DES SOLUTIONS
            ACCESSIBLES GRÂCE À DES OUTILS SIMPLES QUI FACILITENT
            LES INTERACTIONS LIÉES À LA PRÉSERVATION DE LA</p>
        </div>
        <div class="col-sm-6">
          <p class="section__description">FORÊT URBAINE. CES SOLUTIONS ONT LA PARTICULARITÉ DE
            SE BASER SUR LES BESOINS ET LA RÉALITÉ COMMUNE À L’ENSEMBLE
            DES PROPRIÉTAIRES D’ARBRES.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img src="/uploads/plateforme.png">
            <h3 class="offer__title">Plateforme</h3>
            <p class="offer__description">Toute l’information sur la problématique,
              les actions, solutions est disponible à partir
              d’un seul portail</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img src="/uploads/modules.png">
            <h3 class="offer__title">Modules</h3>
            <p class="offer__description">Toutes les actions et solutions
              d’intervention sont soutenues par des
              services accessibles en ligne</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="offer">
            <img src="/uploads/valorisation.png">
            <h3 class="offer__title">Valorisation</h3>
            <p class="offer__description">Toutes les actions et solutions
              d’intervention sont soutenues par des
              services accessibles en ligne</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Bénéfices directs et indirects</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img class="" src="/uploads/citoyens-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Résidents propriétaires</h2>

            <ol class="box__description">
              <li>Accès rapide à l’information précise
              et claire</li>
              <li>Sentiment de contribuer à la résolution
              du problème</li>
              <li>Meilleure perception de la problématique
              et de l’intérêt d’agir</li>
              <li>L’exploitation du filon du bouche
              à oreilles entre voisin</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img src="/uploads/municipalite-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Municipalités</h2>

            <ol class="box__description">
              <li>Augmentation des ressources
              de surveillance des frênes</li>
              <li>Amélioration de la qualité des services
              aux citoyens</li>
              <li>Responsabilisation des propriétaires</li>
              <li>Meilleure compréhension de la
              règlementation par les propriétaires</li>
              <li>Optimisation des déplacements</li>
              <li>Réduction de l’utilisation du papier</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box">

            <div class="text-center">
              <img src="/uploads/professionnels-blanc.png" class="icon">
            </div>
            <h2 class="box__title">Professionels</h2>

            <ol class="box__description">
              <li>Bonification l’offre de services auprès
              des citoyens</li>
              <li>Meilleure vulgarisation de la
              règlementation</li>
              <li>Responsabilisation des propriétaires</li>
              <li>Gain d’efficacité et de temps dans
              les échanges avec les propriétaire</li>
              <li>Valorisation de l’image
              des professionnels auprès des résidents</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include footer.html %}