{% include header.html %}


  {% include slider.html %}

  {% if page.sections %}
    {% assign sections = page.sections %}
    {% for section in sections %}
      {% if section.carte %}
        <div id="villes-desservies" class="section">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h1 class="section__title" style="margin:0; padding:0;">{{ section.carte[0].titre }}</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="section map">
          <div class="container-fluid">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d174615.0545655111!2d-71.48615471253846!3d46.85628295842766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb8968a05db8893%3A0x8fc52d63f0e83a03!2sQu%C3%A9bec+City%2C+QC!5e0!3m2!1sen!2sca!4v1492800935351" width="100%" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
      {% elsif section.skip %}
        <div class="section" style="margin:0; padding: 0;">
        </div>
      {% else %}
        <div class="section {% cycle 'white', 'green' %} {% if section.etapes %}section__tabs{% endif %}" id="{{ section.titre | downcase | slugify | replace: 'é', 'e' | replace: 'è', 'e' | replace: 'à', 'a' | replace: 'ê', 'e' | replace: 'î', 'i' | replace: 'â', 'a' }}">
          <div class="container">
            <div class="row">
              <div class="col-sm-12">
                <div class="row">
                  <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="section__title">{{ section.titre }}</h1>
                  </div>
                </div>
                
                {% if section.description %}
                    <p class="section__description {% if section.icones.size == 1 %}center{% endif %} col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">{{ section.description }}</p>
                {% endif %}
                {% if section.description_half %}
                    <p class="section__description half">{{ section.description_half }}</p>
                {% endif %}
              </div>
            </div>
            <div class="row row-eq-height">
              {% if section.icones %}
                {% assign icones = section.icones %}
                {% for icone in icones %}
                  {% if icones.size == 5 %}
                    {% assign cols = '5ths' %}
                  {% elsif icones.size > 4 %}
                    {% assign cols = 3 %}
                  {% else %}
                    {% assign cols = 12 | divided_by: icones.size %}
                  {% endif %}
                  <div class="col-sm-6 col-md-{{ cols }} col-eq-height">
                    <div class="offer">
                      <a href="{{ icone.url }}" {% unless icone.url %}class="no-link"{% endunless %}>
                        <img src="{{ icone.image }}">
                        <h3 class="offer__title">{{ icone.titre }}</h3>
                        {% if icone.description %}
                          <div class="offer__description">{{ icone.description | markdownify }}</div>
                        {% endif %}
                      </a>

                      {% if icone.hover %}
                        <div class="offer__hover">
                          {{ icone.hover }}
                        </div>
                      {% endif %}
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

              {% if section.boites %}
                {% assign boites = section.boites %}
                {% if  boites.size == 2 %}
                  <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="row row-eq-height">
                      {% for boite in boites %}
                        {% assign cols = 12 | divided_by: boites.size %}
                        
                        <div class="col-sm-6 col-md-{{ cols }} col-eq-height">

                            <div class="box">

                                {% if boite.image %}
                                  <div class="text-center">
                                      <img class="boite-img" src="{{ boite.image }}">
                                  </div>
                                {% endif %}

                                <h2 class="box__title">{{ boite.titre }}</h2>

                                <div class="box__separator"></div>

                                <div class="box__description">{{ boite.description | markdownify }}</div>
                            </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% else %}
                  {% for boite in boites %}
                    {% assign cols = 12 | divided_by: boites.size %}
                    
                    <div class="col-sm-6 col-md-{{ cols }} col-eq-height" style="margin-bottom: 20px;">

                        <div class="box">

                            {% if boite.image %}
                              <div class="text-center">
                                  <img class="boite-img" src="{{ boite.image }}">
                              </div>
                            {% endif %}

                            <h2 class="box__title">{{ boite.titre }}</h2>

                            <div class="box__separator"></div>

                            <div class="box__description">{{ boite.description | markdownify }}</div>
                        </div>
                    </div>
                  {% endfor %}
                {% endif %}
              {% endif %}

              {% if section.benefices %}
                {% assign benefices = section.benefices %}
                {% for benefice in benefices %}
                  {% assign cols = 12 | divided_by: benefices.size %}
                  <div class="col-sm-6 col-md-{{ cols }} col-eq-height" style="margin-bottom: 20px;">
                      <div class="box">
                          {% if benefice.image %}
                            <div class="text-center">
                                <img class="" src="{{ benefice.image }}">
                            </div>
                          {% endif %}
                          <h2 class="box__title">{{ benefice.titre }}</h2>

                          <div class="box__description">
                              {{ benefice.description | markdownify }}
                          </div>
                      </div>
                  </div>
                {% endfor %}
              {% endif %}

              {% if section.petites_boites %}
                {% assign benefices = section.petites_boites | sort: 'position' %}
                {% for benefice in benefices %}
                  <div class="col-sm-6 col-md-4 col-eq-height"  style="margin-bottom: 20px;">
                      <div class="box small">
                          <p class="box__description">{{ benefice.description}}</p>
                      </div>
                  </div>
                {% endfor %}
              {% endif %}

              {% if section.video %}
                {% assign video_url = section.video | replace: 'https://www.youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'http://www.youtube.com/watch?v=', 'https://youtube.com/embed/' | replace: 'http://youtube.com/watch?v=', 'https://www.youtube.com/embed/' | replace: 'https://youtu.be/', 'https://www.youtube.com/embed/' | replace: 'http://youtu.be/', 'https://www.youtube.com/embed/' %}
                <div class="section__video">
                  <iframe width="100%" height="600" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
                </div>
              {% endif %}

              {% if section.icones_modal %}
                {% assign icones = section.icones_modal %}
                {% for icone in icones %}
                  {% if icones.size > 4 %}
                    {% assign cols = 3 %}
                  {% else %}
                    {% assign cols = 12 | divided_by: icones.size %}
                  {% endif %}
                  <div class="col-sm-6 col-md-{{ cols }} col-eq-height">
                    <div class="offer offer--modal">
                      <div data-toggle="modal" data-target="#problemes-solutions">
                        <img src="{{ icone.image }}">
                        <h3 class="offer__title"><span>{{ icone.titre }}</span> <i class="fa fa-plus"></i></h3>
                        <div class="offer__problemes">{{ icone.problemes | markdownify }}</div>
                        <div class="offer__solutions">{{ icone.solutions | markdownify }}</div>
                        
                        {% if icone.call_to_action[0] %}
                          <div class="offer__cta">
                            <a class="btn btn-default btn--white" href="{{ icone.call_to_action[0].url }}">
                              <div class="btn__image"></div>
                              <span>{{ icone.call_to_action[0].texte }}</span>
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

              {% if section.icones_inline %}
                {% assign icones = section.icones_inline %}
                {% for icone in icones %}
                  <div class="col-sm-6 col-eq-height">
                    <div class="offer offer--inline">
                      <a href="{{ icone.url }}" class="row">
                        <img src="{{ icone.image }}" class="col-sm-4">
                        <div class="offer__description col-sm-8">{{ icone.description | markdownify }}</div>
                      </a>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}

              {% if section.icones_modal_slider %}
                <div class="icones-slider-wrapper">
                  <div class="icones-slider__arrow--left"></div>
                  <div class="icones-slider__arrow--right"></div>
                  <div class="icones-slider">
                    {% assign icones = section.icones_modal_slider %}
                    {% for icone in icones %}
                      <div class="col-eq-height">
                        <div class="offer offer--modal offer--slider">
                          <div data-toggle="modal" data-target="#problemes-solutions" data-title-modal="{{ icone.titre | downcase | slugify | replace: 'é', 'e' | replace: 'è', 'e' | replace: 'à', 'a' | replace: 'ê', 'e' | replace: 'î', 'i' | replace: 'â', 'a' }}">
                            <img src="{{ icone.image }}">
                            <h3 class="offer__title"><span>{{ icone.titre }}</span> <i class="fa fa-plus"></i></h3>
                            <div class="offer__problemes">{{ icone.problemes | markdownify }}</div>
                            <div class="offer__solutions">{{ icone.solutions | markdownify }}</div>
                            {% if icone.call_to_action[0] %}
                              <div class="offer__cta">
                                <a class="btn btn-default btn--white" href="{{ icone.call_to_action[0].url }}">
                                  <div class="btn__image"></div>
                                  <span>{{ icone.call_to_action[0].texte }}</span>
                                </a>
                              </div>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              {% endif %}

              {% if section.histoire %}
                <div class="section" id="histoire-et-clients" style="margin:0; padding:0;">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-12">
                        <h1 class="section__title"><img src="uploads/iaer-logo-old.png" alt=""></h1>
                        <p class="section__description half">
                          {{ page.content }}
                        </p>

                        <br/><br/>

                        <h1 class="section__title">ILS NOUS FONT CONFIANCE</h1>

                        {% include temoignages.html %}

                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if section.etapes %}
                <div class="col-md-10 col-md-offset-1">
                  <div class="tabs__wrapper">
                      <div class="tabs"><!--
                        --><div class="tab tab__active" data-tab="etape-1">
                            <h3 class="tab__title">Etape 1</h3>
                        </div><!--
                        --><div class="tab" data-tab="etape-2">
                            <h3 class="tab__title">Etape 2</h3>
                        </div><!--
                        --><div class="tab" data-tab="etape-3">
                            <h3 class="tab__title">Etape 3</h3>
                        </div><!--
                    --></div>
                      <div class="tabs__content">
                        <div class="tab__content tab__content--active" data-tab="etape-1">
                          <div class="tab__content--title">INVENTAIRE INTELLIGENT</div>
                          <div class="tab__content--description">TOUS LES PROPRIÉTAIRES ONT ACCÈS À LA SOLUTION D’ÉVALUATION DES FRÊNES</div>
                          <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                              <div class="col-sm-4">
                                <div class="offer small">
                                  <img class="img-responsive" src="uploads/m-municipalites.png">
                                  <h3 class="offer__title">Municipalités</h3>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="offer small">
                                  <img class="img-responsive" src="uploads/m-institutions.png">
                                  <h3 class="offer__title">Institutions</h3>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="offer small">
                                  <img class="img-responsive" src="uploads/m-residents.png">
                                  <h3 class="offer__title">Citoyens</h3>
                                </div>
                              </div>
                              </div>
                          </div>
                        </div>
                        <div class="tab__content" data-tab="etape-2">
                            <div class="tab__content--title">Intelligence artificielle</div>
                            <div class="tab__content--description">Coordination numérique de toutes les activités et services à partir des solutions intégrées</div>
                            <img src="uploads/m-etape-2.png" class="img-responsive" style="width: 100%;">
                        </div>
                        <div class="tab__content" data-tab="etape-3">
                            <div class="tab__content--title">Services numériques</div>
                            <div class="tab__content--description">Tous les intervenants peuvent communiquer et agir rapidement en tout temps</div>
                            <div class="row">
                              <div class="col-sm-6 col-sm-offset-3">
                                <img class="img-responsive" src="uploads/m-etape-3.png">
                                </a>
                              </div>
                            </div>
                            <br>
                            <div class="tab__content--description">Tous les propriétaires ont accès aux solutions et services économiques en ligne</div>
                        </div>
                      </div>   
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if section.temoignages %}
                {% include temoignages.html %}
              {% endif %}
              
              {% if section.technologie %}
                <div class="col-sm-6">
                  <img src="uploads/t-diagramme.png" class="img-responsive">
                </div>
                <div class="col-sm-6">
                  <div class="col-green">
                    <h3 class="col-green__title">{{ section.technologie[0].titre }}</h3>
                    <div class="col-green__description">
                      {{ section.technologie[0].description }}
                      <!-- - où sont les frênes du territoire  <br/><br/>
                      - quel est leur état de santé et besoins d’entretien <br/><br/>
                      - qui sont les propriétaires <br/><br/>
                      - Élaboration du bilan de santé précis avec suivi continu du frêne <br/><br/>-->
                    </div>
                  </div>
                </div>
              {% endif %}

              {% if section.engagement %}
                <div class="col-sm-6">
                  <h3 class="section__subtitle">{{ section.engagement[0].titre }}</h3>
                  <div class="section__description">
                    {{ section.engagement[0].description | markdownify }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="col-green">
                    <h3 class="col-green__title">{{ section.engagement[0].raison-titre }}</h3>
                    <div class="col-green__description">
                      {{ section.engagement[0].raison-description | markdownify }}
                    </div>
                  </div>
                </div>
              {% endif %}


              {% if section.call_to_action[0]  %}
                <div class="download">
                  <a class="btn btn-default btn--green" href="{{ section.call_to_action[0].url }}">
                    <div class="btn__image"></div>
                    <span>{{ section.call_to_action[0].texte }}</span>
                  </a>
                </div>
              {% endif %}

            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}


{% include footer.html %}