  {% include header.html %}

  <div class="homepage__slider-wrapper">
    <div class="homepage__slider">
      <div class="slide">
        <div class="image" style="background-image: url(/uploads/beau-frene-overlay.jpg)">
          <div class="row">
            <div class="caption">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="/uploads/modules-blanc.png">
                <h3>Activités<br/> préventives de lutte</h3>
                <h6>AUGMENTATION DE LA PRÉCISION, DE L’INTÉGRATION ET DE L’EFFICACITÉ DES ACTIONS D’INTERVENTION</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__dots"></div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">PRÉSENTATION</h1>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
          <p class="section__description">POUR GÉRER EN MODE PRÉVENTIF OU DE LUTTE INTENSIVE
          L'ÉPIDÉMIE, IAER SOLUTIONS DÉVELOPPE EN CONTINU POUR
          VALEURDEMONFRÊNE DES MODULES POUR SOUTENIR LA
          PERFORMANCE DE CHAQUE ACTION ET SOLUTION TOUT EN
          MAÎTRISANT LES COÛTS OU DÉPENSES POUR TOUS LES
          INTERVENANTS.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-sm-12">
          <h1 class="section__title">QUATRE MODULES DE BASE SONT À L’ORIGINE
            DU DÉPLOIEMENT DE PLUSIEURS MODULES
            COMPLÉMENTAIRES.</h1>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box middle small col-eq-height">

            <p class="box__title">INVENTAIRE RAPIDE
              AVEC ÉVALUATION
              DES FRÊNES
            </p>
            
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box middle small col-eq-height">

            <p class="box__title">DÉTECTION ET SURVEILLANCE
              DE LA PRÉSENCE
              DE L’INSECTE</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box middle small col-eq-height">

            <p class="box__title">SERVICES COLLABORATIFS
              ENTRE CITOYENS,
              ADMINISTRATION
              ET PROFESSIONNELS</p>

          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="box middle small col-eq-height">

            <p class="box__title">VALORISATION
            DU BOIS RÉSIDUEL</p>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section green">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Bénéfices</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle small col-eq-height">

            <p class="box__title">AUCUNE OBLIGATION DE PAYER LES MODULES</p>

          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle small col-eq-height">

            <p class="box__title">PAIEMENT LORSQUE
            UTILISATION</p>

          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box middle small col-eq-height">

            <p class="box__title">SIMPLIFICATION
            DE L’ÉVALUATION
            ET DU SUIVI
            INFORMATISÉ
            DES ACTIONS
            DE LUTTE</p>

          </div>
        </div>
      </div>
    </div>
  </div>


  {% include footer.html %}