  {% include header.html %}

  <div class="homepage__slider-wrapper">
    <div class="homepage__slider">
      <div class="slide">
        <div class="image" style="background-image: url(/uploads/beau-frene-overlay.jpg)">
          <div class="row">
            <div class="caption">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="/uploads/plateforme-blanc.png">
                <h3>Plateforme<br/> de gestion concertée</h3>
                <h6>PORTAILS DE DÉPLOIMENT NUMÉRIQUE DES ACTIONS OU Solutions TECHNIQUES ET ADMINISTRATIVES</h6>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="slider__dots"></div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">PRÉSENTATION</h1>
        </div>
        <div class="col-sm-12">
          <p class="section__description">VALEUR DE MON FRÊNE FOURNIT UNE INFRASTRUCTURE
            ET DES PLATEFORMES QUI AIDENT LES GESTIONNAIRES
            À CONTRÔLER L’ENSEMBLE DES FRÊNES ET DES ACTIONS TECHNIQUES.
            CHAQUE PLATEFORME SIMPLIFIE LA MOBILISATION DES PROPRIÉTAIRES ET DES PROFESSIONNELS ET AUGMENTE
            L’EFFICACITÉ DE COORDINATION OU DU SUIVI DES SOLUTIONS
            ÉCONOMIQUES POUR TOUS LES INTERVENANTS.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-sm-12">
          <h1 class="section__title">UNE INTERFACE PROFESSIONNELLE ET DE SERVICES
            ADMINISTRATIFS QUI SE CONFIGURENT SELON
            LE BESOIN DU CLIENT</h1>
        </div>
        <div class="col-md-10 col-md-offset-3 row-eq-height">
          <div class="col-sm-6 col-md-4">
            <div class="box">

              <h2 class="box__title">INTERFACE W EB ET MOBILE
                DE GESTION TECHNIQUE
                ET PROFESSIONNELLE POUR:</h2>

              <div class="box__separator"></div>

              <p class="box__description">La supervision continue des inventaires
              publics et privés</p>
              <p class="box__description">L’exploitation des modules techniques
              d’intervention</p>
              <p class="box__description">L’exploitation des modules administratifs
              et de soutien</p>
              <p class="box__description">La coordination de la valorisation des bois
              infesté</p>
              <p class="box__description">Historique de toutes les actions de lutte</p>
            </div>
          </div>
          <div class="col-sm-6 col-md-4">
            <div class="box">

              <h2 class="box__title">INTERFACE W EB ET MOBILE
                DE SERVICES POUR LES
                PROPRIÉTAIRES DE FRÊNES
                PRIVÉS</h2>

              <div class="box__separator"></div>

              <p class="box__description">Espace personnel et sécuritaire qui offre
              aux propriétaires de frênes l’accès</p>
              <p class="box__description">Aux services publics et de soutien
              municipaux</p>
              <p class="box__description">Suivi de l’information sur le bilan de santé
              de chaque frêne</p>
              <p class="box__description">À la simulation des coûts de services
              professionnels et techniques</p>
              <p class="box__description">À la commande des services en lignes</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section text">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">UN OUTIL ACCESSIBLE À TOUS POUR
            DES DÉCISIONS D’INTERVENTION
            PRÉCISES ET ÉCONOMIQUES</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="offer small">
            <img src="/uploads/commercial.png">
            <h3 class="offer__title">MUNICIPALITÉS</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="offer small">
            <img src="/uploads/energetique.png">
            <h3 class="offer__title">CITOYENS</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="offer small">
            <img src="/uploads/matiere.png">
            <h3 class="offer__title">INSTITUTIONS PUBLIQUES ET PRIVÉES</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="offer small">
            <img src="/uploads/bio-ecologique.png">
            <h3 class="offer__title">FOURNISSEURS DE SERVICES</h3>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <div class="offer small">
            <img src="/uploads/bio-ecologique.png">
            <h3 class="offer__title">RÉCUPÉRATEURS DE RÉSIDUS</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section green">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="section__title">Bénéfices</h1>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Chaque frêne a un bilan de santé accessible en tout temps</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Accès à tous les services en ligne gain de temps et d'efficacité</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Amélioration qualité des services</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Les décisions sont basées sur des indicateurs concrets</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="box small">
            <p class="box__description">Réduction des coûts d’intervention</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% include footer.html %}